@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin gradient {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 40%,
    transparent 75%,
    rgba(0, 0, 0, 0.8)
  );
}
